body{
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #FC6703; color: white; 
    padding: 10px;
}

footer{
    background-color: #FC6703; color: white;
}

.nav1{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.contenedor1{
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.logo1{
    margin-right: 50px;
}

.contenedor2{
    align-self: center;
    text-align: center;
    line-height: 5px;
}

.titulo{
    font-size: 20px;
}

.p1 {
    color: #019934;
}

.contenedor3 {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.img1 {
    margin-right: 20px;
}

.img2{
    margin-right: 20px;
}

.contenedor4{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.contenedor5{
    align-self: center;
    text-align: center;
    line-height: 5px;
    font-size: 15px;
    margin-right: 50px;
}

.img4{
    margin-left: -50px;
}

.footer{
    display: flex;
    justify-content: center;
}

.contenedor6{
    margin-right: 200px;
    line-height: 5px;
    margin-bottom: 15px;
    margin-top: 12px;
}    

.seguinos{
    text-align: center;
}

.logo2{
    margin-right: 10px;
    margin-left: 10px;
}

.contenedor7{
    text-align: center;
    line-height: 5px;
    margin-bottom: 15px;
    margin-top: 12px;
}

.titulo2{
    color: #019934;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.nosotros1{
    text-align: center;
}

.img5{
    display: block;
    text-align: center;
    margin-top: 30px;
}

.nosotros2{
    text-align: center;
    margin-bottom: 55px;
    margin-top: 40px;
}

.nosotros3{
    color: #019934;
}

.nosotros4{
    margin-top: 40px;
}

.nosotros5{
    margin-top: 40px;
}

.nosotros6{
    margin-top: 40px;
}

.titulo3{
    color: #019934;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.carrito1{
    font-size: 15px;
    margin-left: 65px;
}

.carrito2{
    margin-left: 60px;
    text-align: justify;
    margin-right: 60px;
}

.carrito3{
    text-align: right;
    margin-right: 65px;
}

.carrito4{
    display: flex;
    justify-content: center;
}

.carrito5{
    align-self: center;
}   

.carrito6{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.ayuda1{
    color: #019934;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ayuda2{
    margin-left: 60px;
    text-align: justify;
    margin-right: 60px;
}

.ayuda3{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.oferta1{
    text-align: center;
    margin-top: 30px;
}

.oferta2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.oferta3{
    margin-left: 60px;
    text-align: justify;
    margin-right: 60px;
}

.oferta4{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.carrito7{
    color: #019934;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.carrito8{
    display: grid;
    width: 100vh;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 450px;
    gap: 30px;
    grid-template-columns: repeat(7, 3fr);
    grid-template-rows: repeat(9, 2fr);
    grid-template-areas: 
    "fotoal fotoal fotoal fotoal fotoal almacen almacen"
    "fotoal fotoal fotoal fotoal fotoal almacen almacen"
    "fotoal fotoal fotoal fotoal fotoal almacen almacen"
    "frutas frutas fotofru fotofru fotofru fotofru fotofru"
    "frutas frutas fotofru fotofru fotofru fotofru fotofru"
    "frutas frutas fotofru fotofru fotofru fotofru fotofru"
    "fotopan fotopan fotopan fotopan fotopan pana pana"
    "fotopan fotopan fotopan fotopan fotopan pana pana"
    "fotopan fotopan fotopan fotopan fotopan pana pana"
    ;
}

.carrito9{
    grid-area: fotoal;
}

.carrito10{
    grid-area: almacen;
    color: #019934;
    font-size: 20px;
    text-align: left;
    align-self: center;
}

.carrito11{
    grid-area: frutas;
    color: #019934;
    font-size: 20px;
    text-align: right;
    align-self: center;
}

.carrito12{
    grid-area: fotofru;
}

.carrito13{
    grid-area: fotopan;
}

.carrito14{
    grid-area: pana;
    color: #019934;
    font-size: 20px;
    text-align: left;
    align-self: center;
}
