body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

header{
    background-color: #FC6703; color: white; 
    padding: 10px;
}

footer{
    background-color: #FC6703; color: white;
}

.nav1{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.a1:hover{
    background-color: #019934;
    padding: 25px;
}

a{
    text-decoration: none;
    color: white;
}

.contenedor1{
    display: flex;
    justify-content: center;
}

.logo1{
    margin-right: 50px;
}

.contenedor2{
    align-self: center;
    text-align: center;
    line-height: 5px;
}

.titulo{
    font-size: 20px;
}

.p1 {
    color: #019934;
}

.contenedor3 {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.img1 {
    margin-right: 20px;
}

.img2{
    margin-right: 20px;
}

.contenedor4{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.contenedor5{
    align-self: center;
    text-align: center;
    line-height: 5px;
    font-size: 15px;
    margin-right: 50px;
}

.img4{
    margin-left: -50px;
}

.footer{
    display: flex;
    justify-content: center;
}

.contenedor6{
    margin-right: 200px;
    line-height: 5px;
    margin-bottom: 15px;
    margin-top: 12px;
}    

.seguinos{
    text-align: center;
}

.logo2{
    margin-right: 10px;
    margin-left: 10px;
}

.contenedor7{
    text-align: center;
    line-height: 5px;
    margin-bottom: 15px;
    margin-top: 12px;
}

.titulo2{
    color: #019934;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.nosotros1{
    text-align: center;
}

.img5{
    display: block;
    text-align: center;
    margin-top: 30px;
}

.nosotros2{
    text-align: center;
    margin-bottom: 55px;
    margin-top: 40px;
}

.nosotros3{
    color: #019934;
}

.nosotros4{
    margin-top: 40px;
}

.nosotros5{
    margin-top: 40px;
}

.nosotros6{
    margin-top: 40px;
}

.titulo3{
    color: #019934;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.carrito1{
    font-size: 15px;
    margin-left: 65px;
}

.carrito2{
    margin-left: 60px;
    text-align: justify;
    margin-right: 60px;
}

.carrito3{
    text-align: justify;
    margin-left: 100px;
    font-size: 10px;
}

.carrito4{
    display: flex;
    justify-content: center;
}

.carritoo{
    background-color: #019934;    
}

.carrito6{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 40px;
}

.carritoo6{
    font-size: 15px;
}

.carrito7{
    color: #019934;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ayuda1{
    color: #019934;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mb-3{
    margin-left: 40px;
    margin-top: 40px;
}

.form-label{
    display: block;
    color: #019934;
    font-weight: bold;
}

.form-control{
    width: 650px;
}

.mb-4{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.mb-5{
    background-color: #019934;
}

.oferta1{
    text-align:center;
    margin-top: 30px;
}

.oferta2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.oferta3{
    margin-left: 60px;
    text-align: justify;
    margin-right: 60px;
}

.oferta4{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.carrito7{
    color: #019934;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.carrito8{
    display: grid;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
    gap: 20px;
    grid-template-columns: 500px 500px;
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: 
    "fotoal almacen"
    "frutas fotofru"
    "fotopan pana"
    ;
    justify-content: center;
    align-items: center;
}

.carrito9{
    grid-area: fotoal;
    object-fit: cover;
}

.carrito10{
    grid-area: almacen;
    color: #FC6703;
    font-size: 20px;
    text-align: center;
    align-self: center;
}

.carrito11{
    grid-area: frutas;
    color:#FC6703 ;
    font-size: 20px;
    text-align: center;
    align-self: center;
}

.carrito12{
    grid-area: fotofru;
    object-fit: cover;
}

.carrito13{
    grid-area: fotopan;
    object-fit: cover;
}

.carrito14{
    grid-area: pana;
    color: #FC6703;
    font-size: 20px;
    text-align: center;
    align-self: center;
}

@media (max-width:1200px){
    .carrito8{
        grid-template-columns: 300px 300px;
        grid-template-rows: repeat(3, 150px);
        grid-template-areas: 
        "fotoal almacen"
        "frutas fotofru"
        "fotopan pana"
    ;
    justify-content: center;
    align-items: center;
    }

    .carrito9{
        max-width: 300px;
        max-height: 150px;
    }

    .carrito12{
        max-width: 300px;
        max-height: 150px;
    }

    .carrito13{
        max-width: 300px;
        max-height: 150px;
    }
}

@media (max-width:1024px){

    .nav1{
        justify-content: space-evenly;
    }
    
    .contenedor3{
        margin-left: 0%;
    }
    
    .img1{
        margin-right: 10px;
    }

    .img2{
        margin-right: 10px;
    }
    
}

@media (max-width:1013px){

    .img1{
        max-width: 250px;
        margin-right: 10px;
    }

    .img2{
        max-width: 250px;
        margin-right: 10px;
    }
    .img3{
        max-width: 250px;
    }

}

@media (max-width:900px){

    .img1{
        max-width: 250px;
        margin-right: 10px;
    }

    .img2{
        max-width: 230px;
        margin-right: 10px;
    }
    .img3{
        max-width: 230px;
    }

    .carrito8{
        grid-template-columns: 150px 150px;
        grid-template-rows: repeat(3, 85px);
        grid-template-areas: 
        "fotoal almacen"
        "frutas fotofru"
        "fotopan pana"
        ;
        justify-content: center;
        align-items: center;
    }

    .carrito9{
        max-width: 150px;
        max-height: 60px;
    }

    .carrito12{
        max-width: 150px;
        max-height: 60px;
    }

    .carrito13{
        max-width: 150px;
        max-height: 60px;
    }
}

@media (max-width:850px){

    .contenedor3{
        display: flexbox;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .img1{
        max-width: 200px;
        max-height: 100px;
        margin-right: 10px;
    }

    .img2{
        max-width: 200px;
        max-height: 100px;
        margin-right: 10px;
    }
    .img3{
        max-width: 200px;
        max-height: 100px;
    }
}

@media (max-width:745px){

    .nav1{
        display: flexbox;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}

@media (max-width:650px){

    .nav1{
        font-size: 15px;
    }
    
    .logo1{
        margin-top: 20px;
        max-width: 150px;
        max-height: 150px;
    }

    .contenedor1{
        display: flexbox;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .titulo{
        font-size: 15px;
    }

    .contenedor2{
        margin-top: -20px;
    }

    .contenedor5{
        font-size: 10px;
    }

    .ofer1{
        max-width: 130px;
        max-height: 80px;
    }

    .footer{
        display: flexbox;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .seguinos{
        font-size: 15px;
    }

    .contenedor7{
        font-size: 15px;
    }

    .contenedor6{
        margin-right: 0px;
    }

    .titulo2{
        font-size: 15px;
    }

    .nosotros1{
        font-size: 80%;
    }

    .nosotros2{
        font-size: 80%;
    }
    
    .titulo3{
        font-size: 15px;
    }

    .ayuda1{
        font-size: 15px;
    }

    .carrito7{
        font-size: 15px;
    }

    .carrito10{
        font-size: 15px;
    }

    .carrito11{
        font-size: 15px;
    }

    .carrito14{
        font-size: 15px;
    }

    .oferta2{
        font-size: 80%;
    }

}

@media (max-width:456px){

    .nav1{
        font-size: 13px;
    }

    .img1{
        max-width: 150px;
        max-height: 75px;
        margin-right: 10px;
    }

    .img2{
        max-width: 150px;
        max-height: 75px;
        margin-right: 10px;
    }

    .img3{
        max-width: 150px;
        max-height: 75px;
    }

    .primer{
        max-width: 220px;
        max-height: 130px;
    }

    .contenedor4{
        display: flexbox;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .img4{
        margin-left: 50px;
        margin-top: -50px;
    }
    
    .seguinos{
        font-size: 13px;
    }

    .contenedor7{
        font-size: 13px;
    }

    .carrito8{
        grid-template-columns: 100px 100px;
        grid-template-rows: repeat(3, 75px);
        grid-template-areas: 
        "fotoal almacen"
        "frutas fotofru"
        "fotopan pana"
        ;
        justify-content: center;
        align-items: center;
    }

    .carrito9{
        max-width: 100px;
        max-height: 60px;
    }

    .carrito12{
        max-width: 100px;
        max-height: 60px;
    }

    .carrito13{
        max-width: 100px;
        max-height: 60px;
    }

}

@media (max-width:406px){
    .nosotros1{
        font-size: 70%;
    }

    .nosotros2{
        font-size: 70%;
    }

    .nosotros1{
        font-size: 70%;
    }

    .oferta2{
        font-size: 70%;
    }
}