.footer{
    background-color: $color-principal; 
    color: white;
    display: flex;
    justify-content: center;

    .contenedor6{
        margin-right: 200px;
        line-height: 5px;
        margin-bottom: 15px;
        margin-top: 12px;
        p{
            text-align: center;}
    }
    .contenedor7{
        text-align: center;
        line-height: 5px;
        margin-bottom: 15px;
        margin-top: 12px;}
    }