.carrito7{
    @extend .titulo2;
}

.carrito8{
    @include grid(500px 500px,repeat(3, 200px),20px,"fotoal almacen""frutas fotofru""fotopan pana",center,center,50px 60px 80px 60px)
}   

.carrito9{
    grid-area: fotoal;
    object-fit: cover;
}

.carrito10{
    grid-area: almacen;
    color: #FC6703;
    font-size: 20px;
    text-align: center;
    align-self: center;
    &:hover{
        transform: scale(1.2);}
}

.carrito11{
    grid-area: frutas;
    color:#FC6703 ;
    font-size: 20px;
    text-align: center;
    align-self: center;
    &:hover{
        transform: scale(1.2);}
}

.carrito12{
    grid-area: fotofru;
    object-fit: cover;
}

.carrito13{
    grid-area: fotopan;
    object-fit: cover;
}

.carrito14{
    grid-area: pana;
    color: #FC6703;
    font-size: 20px;
    text-align: center;
    align-self: center;
    &:hover{
        transform: scale(1.2);}
}