@media (max-width:456px){

    nav{
        font-size: 13px;
    }

    .contenedor3{
        img{
        max-width: 150px;
        max-height: 75px;
        margin-right: 10px;}
    }

    .primer{
        max-width: 220px;
        max-height: 130px;
    }

    .contenedor4{
        display: flexbox;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        .img4{
            left: 50px;
            top: 0px;
            right: 0px;}
    }
    
    .contenedor6, .contenedor7{
        font-size: 13px;
    }

    .carrito8{
        grid-template-columns: 120px 120px;
        grid-template-rows: repeat(3, 75px);
        grid-template-areas: 
        "fotoal almacen"
        "frutas fotofru"
        "fotopan pana"
        ;
        justify-content: center;
        align-items: center;
    }

    .carrito9, .carrito12, .carrito13{
        max-width: 120px;
        max-height: 60px;
    }

    .form-control{
        max-width: 300px;
        margin-left: 10px;
    }

    .carrito6{
        gap: 30px;
    }

    .contenedor5{
        display: none;
    }
    
    .contenedorr5{
        display: block;
        align-self: center;
        text-align: center;
        line-height: 5px;
        font-size: 10px;
        margin-right: 50px;
    }

}