@media (max-width:650px){

    ul{
        a:hover{
            padding: 7px;}
}

    nav{
        font-size: 15px;
    }

    .contenedor1{
        display: flexbox;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        margin-right: 0px;
        .logo1{
            margin-top: 20px;
            margin-right: 0px;
            max-width: 135px;
            max-height: 135px;
            &:hover{
                transform: scale(0.9);
            }}
            .titulo{
                font-size: 13px;
                p{
                    margin-top: 23px;
                    margin-bottom: 2px;}
                }  
    }

    .contenedor2{
        margin-top: -20px;
        p{
            margin-top: 13px;
        }
    }

    .contenedor5{
        font-size: 10px;
    }

    .ofer1{
        max-width: 130px;
        max-height: 80px;
    }

    .footer{
        display: flexbox;
        flex-direction: column;
        text-align: center;
    }

    .contenedor6, .contenedor7, .titulo2, .titulo3, .ayuda1, .carrito7, .carrito10, .carrito11, .carrito14{
        font-size: 15px;
    }

    .nosotros1, .nosotros2, .oferta2{
        font-size: 80%;
    }

    .form-control{
        max-width: 370px;
        margin-left: 10px;
    }

}