@media (max-width:900px){

    img{
        max-width: 250px;
        margin-right: 10px;
    }

    .carrito8{
        grid-template-columns: 150px 150px;
        grid-template-rows: repeat(3, 85px);
        grid-template-areas: 
        "fotoal almacen"
        "frutas fotofru"
        "fotopan pana"
        ;
        justify-content: center;
        align-items: center;
    }

    .carrito9{
        max-width: 150px;
        max-height: 60px;
    }

    .carrito12{
        max-width: 150px;
        max-height: 60px;
    }

    .carrito13{
        max-width: 150px;
        max-height: 60px;
    }
}