@media (max-width:406px){
    .nosotros1{
        font-size: 70%;
    }

    .nosotros2{
        font-size: 70%;
    }

    .nosotros1{
        font-size: 70%;
    }

    .oferta2{
        font-size: 70%;
    }

    .form-control{
        max-width: 210px;
        margin-left: 10px;
    }
}