@media (max-width:900px){

    .carrito1{
        margin-left: 75px;
    }
    
    .carrito8{
        grid-template-columns: 180px 180px;
        grid-template-rows: repeat(3, 85px);
        grid-template-areas: 
        "fotoal almacen"
        "frutas fotofru"
        "fotopan pana"
        ;
        justify-content: center;
        align-items: center;
    }

    .carrito9, .carrito12, .carrito13{
        max-width: 180px;
        max-height: 75px;
    }

    .carrito10, .carrito11, .carrito14{
        font-size: 13px;
    }
}